<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f8966d">  <td>19/05/26 20:35:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Authetication.Authetication()[pri:0, instance:com.RestAssured_API_Auth.Authetication@1d057a39]">Authetication</td> 
  <td>main@1164371389</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>19/05/26 20:35:19</td>   <td>3038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Authetication.Checkresponsebody()[pri:0, instance:com.RestAssured_API_Auth.Authetication@1d057a39]">Checkresponsebody</td> 
  <td>main@1164371389</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/05/26 20:35:16</td>   <td>-99</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.Setup()[pri:0, instance:com.RestAssured_API_Auth.Authetication@1d057a39]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1164371389</td>   <td></td> </tr>
</table>
