<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7c2a6">  <td>19/05/26 21:14:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.Setup()[pri:0, instance:com.RestAssured_API_Testcase.GET@68c4039c]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>19/05/26 21:14:25</td>   <td>84</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GET.GetAllEmployees()[pri:0, instance:com.RestAssured_API_Testcase.GET@68c4039c]">&gt;&gt;GetAllEmployees</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>19/05/26 21:14:28</td>   <td>2571</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET.CheckContenttype()[pri:0, instance:com.RestAssured_API_Testcase.GET@68c4039c]">CheckContenttype</td> 
  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>19/05/26 21:14:28</td>   <td>2581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET.CheckResponseBody()[pri:0, instance:com.RestAssured_API_Testcase.GET@68c4039c]">CheckResponseBody</td> 
  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>19/05/26 21:14:28</td>   <td>2609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET.CheckResponseheader_Content()[pri:0, instance:com.RestAssured_API_Testcase.GET@68c4039c]">CheckResponseheader_Content</td> 
  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>19/05/26 21:14:28</td>   <td>2613</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET.CheckresponseTime()[pri:0, instance:com.RestAssured_API_Testcase.GET@68c4039c]">CheckresponseTime</td> 
  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>19/05/26 21:14:28</td>   <td>2617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET.Checkresponseheader()[pri:0, instance:com.RestAssured_API_Testcase.GET@68c4039c]">Checkresponseheader</td> 
  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>19/05/26 21:14:28</td>   <td>2623</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET.CheckstatusLine()[pri:0, instance:com.RestAssured_API_Testcase.GET@68c4039c]">CheckstatusLine</td> 
  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>19/05/26 21:14:28</td>   <td>2630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET.CheckResponseheader_Content_Length()[pri:0, instance:com.RestAssured_API_Testcase.GET@68c4039c]">CheckResponseheader_Content_Length</td> 
  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>19/05/26 21:14:28</td>   <td>2641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET.Checkstatuscode()[pri:0, instance:com.RestAssured_API_Testcase.GET@68c4039c]">Checkstatuscode</td> 
  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>19/05/26 21:14:28</td>   <td>2644</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.Setup()[pri:0, instance:com.RestAssured_API_Testcase.POST@ae45eb6]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>19/05/26 21:14:28</td>   <td>2649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="POST.CreatenewEmployee()[pri:0, instance:com.RestAssured_API_Testcase.POST@ae45eb6]">CreatenewEmployee</td> 
  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>19/05/26 21:14:33</td>   <td>8450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="POST.Check_Response_Body()[pri:0, instance:com.RestAssured_API_Testcase.POST@ae45eb6]">Check_Response_Body</td> 
  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>19/05/26 21:14:33</td>   <td>8469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="POST.Check_Status_Code()[pri:0, instance:com.RestAssured_API_Testcase.POST@ae45eb6]">Check_Status_Code</td> 
  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>19/05/26 21:14:33</td>   <td>8491</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="POST.Check_Content_type()[pri:0, instance:com.RestAssured_API_Testcase.POST@ae45eb6]">Check_Content_type</td> 
  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>19/05/26 21:14:33</td>   <td>8497</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="POST.Check_Server()[pri:0, instance:com.RestAssured_API_Testcase.POST@ae45eb6]">Check_Server</td> 
  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>19/05/26 21:14:33</td>   <td>8501</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.Setup()[pri:0, instance:com.RestAssured_API_Testcase.GET_BY_ID@59f99ea]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>19/05/26 21:14:33</td>   <td>8505</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GET_BY_ID.GetByEmployee()[pri:0, instance:com.RestAssured_API_Testcase.GET_BY_ID@59f99ea]">&gt;&gt;GetByEmployee</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>19/05/26 21:14:35</td>   <td>9864</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET_BY_ID.CheckResponseBody()[pri:0, instance:com.RestAssured_API_Testcase.GET_BY_ID@59f99ea]">CheckResponseBody</td> 
  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>19/05/26 21:14:35</td>   <td>9876</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.Setup()[pri:0, instance:com.RestAssured_API_Testcase.PUT@27efef64]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>19/05/26 21:14:35</td>   <td>9893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PUT.CreatenewEmployee()[pri:0, instance:com.RestAssured_API_Testcase.PUT@27efef64]">CreatenewEmployee</td> 
  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>19/05/26 21:14:41</td>   <td>15685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PUT.Check_Response_Body()[pri:0, instance:com.RestAssured_API_Testcase.PUT@27efef64]">Check_Response_Body</td> 
  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>19/05/26 21:14:41</td>   <td>15699</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.Setup()[pri:0, instance:com.RestAssured_API_Testcase.PATCH@6f7fd0e6]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>19/05/26 21:14:41</td>   <td>15717</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PATCH.CreatenewEmployee()[pri:0, instance:com.RestAssured_API_Testcase.PATCH@6f7fd0e6]">CreatenewEmployee</td> 
  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>19/05/26 21:14:47</td>   <td>21593</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PATCH.Check_Response_Body()[pri:0, instance:com.RestAssured_API_Testcase.PATCH@6f7fd0e6]">Check_Response_Body</td> 
  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>19/05/26 21:14:47</td>   <td>21611</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.Setup()[pri:0, instance:com.RestAssured_API_Testcase.DELETE@47c62251]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="7e7986">  <td>19/05/26 21:14:47</td>   <td>21635</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DELETE.GetByEmployee()[pri:0, instance:com.RestAssured_API_Testcase.DELETE@47c62251]">&gt;&gt;GetByEmployee</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="7e7986">  <td>19/05/26 21:14:47</td>   <td>21640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DELETE.CheckResponseBody()[pri:0, instance:com.RestAssured_API_Testcase.DELETE@47c62251]">CheckResponseBody</td> 
  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>19/05/26 21:14:47</td>   <td>21646</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.Setup()[pri:0, instance:com.RestAssured_API_Auth.Authetication@3e6fa38a]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>19/05/26 21:14:47</td>   <td>21652</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Authetication.Authetication()[pri:0, instance:com.RestAssured_API_Auth.Authetication@3e6fa38a]">Authetication</td> 
  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>19/05/26 21:14:47</td>   <td>22468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Authetication.Checkresponsebody()[pri:0, instance:com.RestAssured_API_Auth.Authetication@3e6fa38a]">Checkresponsebody</td> 
  <td>main@1635756693</td>   <td></td> </tr>
</table>
